
body {
    background-color: rgb(198, 252, 209);
}

.table {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    padding: 0 400px 0 400px;
    flex-wrap: wrap;
    flex-direction: column;
}

mark {
    color: white;
    background: blue;
}

@media(max-width: 1250px) {
    .table {
        padding: 0 200px 0 200px ;
    }
}

@media(max-width: 750px) {
    .table {
        padding: 10px;
    }
}


